@media (max-width:900px) {
	form input.place {
		width: 50%;
	}

	.bakery {
		width: 48%;
		margin-bottom: 15px;
	}

	
	.bakery:nth-child(3n+2) {
		margin: 0;
	}

	.bakery:nth-child(2n) {
		margin-left: 2%;
		margin-bottom: 15px;
	}
}

@media (max-width: 710px) {
	form input.place {
		width: 65%;
	}
}

@media (max-width: 630px) {
	.innerWrapper {
		width: 90%;
	}

	form input.place {
		width: 75%;
		margin-bottom: 10px;
	}

	.bakery {
		width: 100%;
		height: 700px;
		float: none;
		margin-bottom: 15px;
	}

	.bakery:nth-child(2n) {
		margin: 0;
	}
}

@media (max-width: 550px) {
	.bakery {
		height: 650px;
	}
}

@media (max-width: 450px) {
	.innerWrapper {
		width: 100%;
	}

	form input.place {
		display: inline-block;
		width: 100%;
	}

	.bakery {
		height: 550px;
	}

	footer {
		position: static;
		margin: 0 auto;
		left: 0;
		transform: translateX(0);
	}
}