extends ../_layouts/default

block title
	title Sweet Tooth? Pick Your Poison...
	
block vars
	- var bodyClass = 'home';

block metas	
	- var siteDescription = 'Sweet Tooth? Pick Your Poison...'
	- var facebookType = 'Sweet Tooth? Pick Your Poison...'
	- var facebookTitle = 'Sweet Tooth? Pick Your Poison...'
	- var facebookDescription = 'Sweet Tooth? Pick Your Poison...'
	- var twitterCard = 'Sweet Tooth? Pick Your Poison...'
	- var twitterTitle = 'Sweet Tooth? Pick Your Poison...'
	- var twitterDescription = 'Sweet Tooth? Pick Your Poison...'	

block content
	include ../_partials/index
