body,
h1,
h2,
p,
a,
footer {
	margin: 0;
	padding: 0;
}

body {
	color: $textcolour;
}

h1,
h2,
h3 {
	font-family: $headerFont;
}

p,
a {
	font-size: 14px;
	font-family: $bodyFont;	
}

a {
	width: 100%;
	display: inline-block;
	text-decoration: none;	
	color: darken($svgcolour,20%);
	&:hover {
		color: $svgcolour;
	}
}

i {
	margin-right: 5px;
	color: $textcolour;
}

.innerWrapper {
	width: 80%;	
	margin: 0 auto;
	max-width: 1000px;
}

//=======
// HEADER
//=======

header {	
	margin: 50px 0;
	text-align: center;
	h1 {
		padding: 10px 0;
		font-size: 50px;
	}
}

//============
// SETLOCATION
//============

.setLocation {	
	padding: 20px;
	text-align: center;
}

form {
	input {		
		border: none;
		padding: 12px;
		font-size: 14px;
	}
	input.place {
		width: 35%;
		margin-right: 15px;
		border: 1px solid $svgcolour;
	}
	input[type=submit] {		
		color: white;		
		background: $svgcolour;
		border: 1px solid $svgcolour;
		&:hover {
			background: darken($svgcolour,15%);
		}
	}
}

.locationSuccess {
	padding-top: 30px;
}

.locationSpan {
	color: $svgcolour;
}

//============
// PASTRYICONS
//============

.pastryIcons {	
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
	p {
		padding: 10px 0;
	}
	.pastryIcon {
		float: left;
		width: 33.33%;
		margin: 0 auto;		
	}
}

svg {
	width: 75%;
	height: 75%;
}

svg path, 
svg line {
	fill: $svgcolour;
	stroke: $svgcolour;
	&:hover {
		fill: darken($svgcolour,15%);
		stroke: darken($svgcolour,15%);
	}
}

.vegan svg path {
	stroke: $svgcolour;
	fill: transparent;
	&:hover {
		stroke: darken($svgcolour,15%);
	}
}

//=========
// BAKERIES
//=========

.bakeries {
	clear: both;
	margin: 0 auto;
	padding: 20px 0;
	margin: 35px 0;
}

.bakery {
	width: 32%;
	height: 515px;
	float: left;
	padding: 20px;
	margin-bottom: 20px;
	&:nth-child(3n+2) {
		margin: 0 2%;
	}
	img {
		max-width: 100%;
		padding: 10px 0;
	}
	h2 {
		font-size: 20px;
	}
	a, 
	p {
		padding: 5px 0;
	}
}

//=======
// FOOTER
//=======

footer {
	width: 100%;	
	display: block;	
	position: fixed;
	bottom: 0;
	left: 50%;
	padding: 10px 0;	
	text-align: center;			
	background: white;
	transform: translateX(-50%);

}

.createdBy {
	font-size: 11px;
	h3 {
		margin: 0;
		padding: 10px 0;
	}
	a {
		display: inline;
		font-family: $headerFont;
	}
}

.props p {
	font-size: 10px;
}

//==============
// MEDIA QUERIES
//==============

@media #{$xs} {
	
	form input.place {
		width: 50%;
	}
	.bakery {
		width: 48%;
		margin-bottom: 15px;
	}
	.bakery:nth-child(3n+2) {
		margin: 0;
	}
	.bakery:nth-child(2n) {
		margin-left: 2%;
		margin-bottom: 15px;
	}
}

@media #{$sm} {
	form input.place {
		width: 65%;
	}
}

@media #{$md} {
	.innerWrapper {
		width: 90%;
	}
	form input.place {
		width: 75%;
		margin-bottom: 10px;
	}
	.bakery {
		width: 100%;
		height: 700px;
		float: none;
		margin-bottom: 15px;
	}
	.bakery:nth-child(2n) {
		margin: 0;
	}
}

@media #{$lg} {
	.bakery {
		height: 650px;
	}
}

@media #{$xlg} {
	.innerWrapper {
		width: 100%;
	}
	form input.place {
		display: inline-block;
		width: 100%;
	}
	.bakery {
		height: 550px;
	}
	footer {
		position: static;
		margin: 0 auto;
		left: 0;
		transform: translateX(0);
	}
}

